@using MovieLibrary.Core
@model IEnumerable<IMovie>

@{
    ViewBag.Title = "Browse Movies";
}

@if (Model.Any())
{
    <table class="movies">
        <thead>
            <tr>
                <th>Title</th>
                <th>Release Date</th>
            </tr>
        </thead>    
        <tbody>
            @foreach (var movie in Model)
            {
                <tr class="movie">
                    <td>@movie.Title</td>
                    <td>@movie.ReleaseDate.ToString("d MMM yyyy")</td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <h2 id="notice">Sorry no movies available!</h2>    
}

