@using MovieLibrary.Core
@model IEnumerable<IMovie>

@{
    ViewBag.Title = "Browse Movies";
}

@if (Model.Any())
{
    <table class="movies">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Release Date</th>
                <th>Actions</th>
            </tr>
        </thead>    
        <tbody>
            @foreach (var movie in Model)
            {
                <tr>
                    <td>@movie.Id</td>
                    <td>@movie.Title</td>
                    <td>@movie.ReleaseDate.ToString("d MMM yyyy")</td>
                    <td>@Html.ActionLink("Delete", "Destroy", new {id = movie.Id}, new { onclick = "deleteMovie(" + movie.Id +"); return false;"})</td>
                </tr>
            }
        </tbody>
    </table>
    <script type="text/javascript">
        function deleteMovie(id) {
            if (confirm("Do you want to delete the movie?")) {
                $.ajax({
                    url: "/movies/" + id,
                    type: 'DELETE',
                    success: function () { window.location = '/'; },
                    error: function () { alert("I'm sorry something failed!"); }
                });
            }
            return false;
        }
    </script>
}
else
{
    <h2 id="notice">Sorry no movies available!</h2>    
}

